
/* ========== Carousel ========== */

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    object-fit: fill;
    transition: transform 0.5s ease-in-out;
    width: 455px;
    height: 550px;
    overflow: hidden;
    box-shadow: 0 3px 5px black;
    transition: transform 0.5s ease;
}

.imageContainer:hover {
    transform: scale(1.02);
}

.carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ========== Report Button Container ========== */

.buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 30px;
    border-radius: 12px;
    background: white;
    gap: 25px;
    width: 420px;
    transition: all 0.3s ease;
}

.buttonContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgb(111, 110, 110);
}

.buttonImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 15px;
    background: linear-gradient(rgb(178, 243, 178), rgb(138, 241, 138));
}

.buttonImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.textAndButton {
    display: flex;
    flex-direction: column;
}

.textAndButton h2 {
    margin: 0 0 12px 0;
    font-size: 1.5rem;
    text-align: center;
}

.button {
    border: none;
    border-radius: 25px;
    /* background-color: #FD0A0A; */
    background: linear-gradient(rgb(255, 89, 89), red);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    width: 220px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button:hover {
    box-shadow: 0px 3px 9px black;
    transform: scale(1.05);
}

/* ========== Home Page ========= */
.homePageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 80px 60px;
    background: #FFF0F0;
    min-height: 100vh;
}

.reportContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}