@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdf6ec;
}

@layer base {
  input {
    @apply bg-[#ffffff] border-0 outline-none;
  }
}

:root {
  --quicksand-bold-font-family: "Quicksand", Helvetica;
  --animate-spin: spin 1s linear infinite;
}

/* Custom Keyframes from your design */
@keyframes fade-in {
  0% { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: none; }
}

@keyframes fade-up {
  0% { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: none; }
}

@keyframes shimmer {
  0%, 90%, to { background-position: calc(-100% - var(--shimmer-width)) 0; }
  30%, 60% { background-position: calc(100% + var(--shimmer-width)) 0; }
}

.animate-fade-in { animation: fade-in 1s ease forwards; }
.animate-fade-up { animation: fade-up 1s ease forwards; }
.animate-shimmer { animation: shimmer 8s infinite; }